@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Tulge meie Pidule Selle Pärast et meil on Head peod</p>
<img src="~/images/And_Wolf_Stay_Off_the_Dance_Floor.gif" />
<style>
    #jumbotron {
        color: #fff;
        background-color: #32373c;
        border-radius: 9999px;
        box-shadow: none;
        text-decoration: none;
        padding: calc(.667em + 2px) calc(1.333em + 2px);
        font-size: 1.125em;
        color: #97ac9f;
        pointer-events: auto;
    }

    body {
        color: #fff;
        background-color: #32373c;
        border-radius: 9999px;
        box-shadow: none;
        text-decoration: none;
        padding: calc(.667em + 2px) calc(1.333em + 2px);
        font-size: 1.125em;
        color: #97ac9f;
        pointer-events: auto;
    }

    input {
        color: #fff;
        background-color: #32373c;
        border-radius: 9999px;
        box-shadow: none;
        text-decoration: none;
        padding: calc(.667em + 2px) calc(1.333em + 2px);
        font-size: 1.125em;
        color: #97ac9f;
        pointer-events: auto;
    }

    a {
        text-decoration: none;
        color: #97ac9f;
    }

        a::selection {
            color: #000;
            background: yellow;
        }

    h1::selection {
        color: #000;
        background: yellow;
    }

    h1 {
        color: #fff;
        background-color: #32373c;
        border-radius: 9999px;
        box-shadow: none;
        text-decoration: none;
        padding: calc(.667em + 2px) calc(1.333em + 2px);
        font-size: 1.125em;
        color: #97ac9f;
        pointer-events: auto;
    }

    p::selection {
        color: #000;
        background: yellow;
    }

    p {
        color: #fff;
        background-color: #32373c;
        border-radius: 9999px;
        box-shadow: none;
        text-decoration: none;
        padding: calc(.667em + 2px) calc(1.333em + 2px);
        font-size: 1.125em;
        color: #97ac9f;
        pointer-events: auto;
    }

    th::selection {
        color: #000;
        background: yellow;
    }

    label::selection {
        color: #000;
        background: yellow;
    }

    input::selection {
        color: #000;
        background: yellow;
    }

    ul {
        color: #fff;
        background-color: #32373c;
        border-radius: 9999px;
        box-shadow: none;
        text-decoration: none;
        padding: calc(.667em + 2px) calc(1.333em + 2px);
        font-size: 1.125em;
        color: #97ac9f;
        pointer-events: auto;
    }

    .jumbotron {
        background-color: #32373c;
    }
</style>